{% extends 'base.html.twig' %}

{% block body %}
	<!-- Header -->
	<header class="position-relative">

		<div class="navbar-bottom">
			<div class="container">
				<div class="navbar-wrapper">
					<div class="logo">
						<a href="">
							<img src="{{asset('assets/images/logo3.png')}}" alt="logo" style="width:0px"/>
						</a>
					</div>

					<div class="nav-toggle d-lg-none">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="nav-menu-area">
						<div class="menu-close text--danger d-lg-none">
							<i class="fas fa-times"></i>
						</div>
						<ul class="nav-menu">
							<li>
								<a href="index.html" target="_self">Home</a>
							</li>
							<li>
								<a href="services.html" target="_self">Services</a>
							</li>
							<li>
								<a href="blogs.html" target="_self">Blog</a>
							</li>
							<li>
								<a href="about.html" target="_self">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>

							<li>
								<div class="btn__grp ms-lg-3">
									<a href="{{path('app_login')}}" class="cmn--btn">Login Now</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header -->
	<!-- Banner -->
	<section class="banner-section bg--overlay bg_img" data-img="assets/images/qN2bqitJ1645077354.jpg">
		<div class="container">
			<div class="banner-wrapper">
				<div class="banner-content">
					<h1 class="banner-title">Simple And Safe Digital Banking Mobile App</h1>
					<p>
						Neque in sit quaerat corporis sed illum officia, voluptatum quisquam culpa esse facere quia
																																				                        alias, voluptatem quos quibusdam.
					</p>
					<div class="btn__grp">
						<a href="user/register.html" class="cmn--btn">
							Get Started
						</a>
						<a href="https://www.youtube.com/watch?v=lG-J1QC8cKY&amp;ab_channel=EsoGolpoKoriPrime" class="video--btn" data-lightbox>
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner -->

	<!-- Feature -->
	<section class="feature-section pt-100 pb-50">
		<div class="container">
			<div class="mt--120">
				<div class="row justify-content-center g-3 g-md-4 g-lg-3 g-xl-4">
					<div class="col-lg-3 col-sm-6">
						<div class="feature-item">
							<div class="feature-item__icon">
								<img src="assets/images/1639476579download-bitcoin.png" alt="download bitcoin">
							</div>
							<div class="feature-item__cont">
								<h5 class="feature-item__cont-title">Download Bitcoin Wallet</h5>
								<p>
									Get it on PC or Mobile to create, send and receive bitcoins.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="feature-item">
							<div class="feature-item__icon">
								<img src="assets/images/1639476522buy-sell-bitcoins.png" alt="download bitcoin">
							</div>
							<div class="feature-item__cont">
								<h5 class="feature-item__cont-title">Buy/Sell with Wallet</h5>
								<p>
									Enter receiver&#039;s address, specify the amount and send.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="feature-item">
							<div class="feature-item__icon">
								<img src="assets/images/1639476553add-bitcoins.png" alt="download bitcoin">
							</div>
							<div class="feature-item__cont">
								<h5 class="feature-item__cont-title">Add coins to your Wallet</h5>
								<p>
									Add bitcoins you’ve created or exchanged via credit card.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Feature -->

	<!-- About -->
	<section class="about-section pt-50 pb-50">
		<div class="container">
			<div class="row gy-5">
				<div class="col-lg-6">
					<div class="about-thumb h-100">
						<div class="thumb">
							<img src="assets/images/N7TNLIK31645005637.jpg" alt="about">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-content">
						<div class="section-title">
							<h6 class="subtitle text--base">Who We are</h6>
							<h2 class="title">WE ARE GENIUS BANK</h2>
							<p>
								A place for everyone who wants to simply buy and sell Bitcoins. Deposit funds using your
																																																                                Visa/MasterCard or bank transfer. Instant buy/sell of Bitcoins at fair price is
																																																                                guaranteed. Nothing extra. Join over 700,000 users from all over the world satisfied
																																																                                with our services. A place for everyone who wants to simply buy and sell Bitcoins.
																																																                                Deposit funds using your Visa/MasterCard or bank transfer. Instant buy/sell of Bitcoins
																																																                                at fair price is guaranteed. Nothing extra. Join over 700,000 users from all over the
																																																                                world satisfied with our services. A place for everyone who wants to simply buy and sell
																																																                                Bitcoins.
							</p>
						</div>
						<ul class="about-list">
							<li>
								<span>
									Get up to $15,000 Cash Fast
								</span>
							</li>
							<li>
								<span>
									15 Minute Online Application
								</span>
							</li>
							<li>
								<span>
									Coverage around the world
								</span>
							</li>
							<li>
								<span>
									Business without borders
								</span>
							</li>
							<li>
								<span>
									Affiliates and partnerships
								</span>
							</li>
							<li>
								<span>
									Bad Credit Considered2
								</span>
							</li>

						</ul>
						<div class="btn__grp mt-4 pt-3">
							<a href="user/register.html" class="cmn--btn btn-outline">Get Started</a>
							<a href="about.html" class="cmn--btn">More About Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About -->

	<!-- Service -->
	<section class="service-section pt-50 pb-100">
		<div class="container">
			<div class="section-title text-center">
				<h6 class="subtitle text--base">Smart Banking
				</h6>
				<h2 class="title">The Better Way to Save &amp; Invest</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
																														                    et dolore magna aliqua.
				</p>
			</div>
			<div class="row g-4 g-xxl-4 g-xl-3 justify-content-center">
				<div class="col-md-6 col-xl-4">
					<div class="service-item">
						<div class="service-item__icon">
							<img src="assets/images/1639476553add-bitcoins.png" alt="strong"/>
						</div>
						<div class="service-item__cont">
							<h5 class="service-item__cont-title">
								STRONG SECURITY
							</h5>
							<p>Protection against DDoS attacks,
							</p>
						</br>
						full data encryption
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="service-item">
				<div class="service-item__icon">
					<img src="assets/images/1639476553add-bitcoins.png" alt="strong"/>
				</div>
				<div class="service-item__cont">
					<h5 class="service-item__cont-title">
						WORLD COVERAGE
					</h5>
					<p>Providing services in 99% countries
					</p>
				</br>
				around all the globe
			</p>
		</div>
	</div>
</div>
<div class="col-md-6 col-xl-4">
	<div class="service-item">
		<div class="service-item__icon">
			<img src="assets/images/1639476553add-bitcoins.png" alt="strong"/>
		</div>
		<div class="service-item__cont">
			<h5 class="service-item__cont-title">
				PAYMENT OPTIONS
			</h5>
			<p>Popular methods: Visa, MasterCard,
			</p>
		</br>
		bank transfer, cryptocurrency
	</p>
</div></div></div><div class="col-md-6 col-xl-4"><div class="service-item">
<div class="service-item__icon">
	<img src="assets/images/1639476553add-bitcoins.png" alt="strong"/>
</div>
<div class="service-item__cont">
	<h5 class="service-item__cont-title">
		MOBILE APP
	</h5>
	<p>Trading via our Mobile App, Available
	</p>
</br>
in Play Store & App Store</p></div></div></div><div class="col-md-6 col-xl-4"><div class="service-item"><div class="service-item__icon"><img src="assets/images/1639476553add-bitcoins.png" alt="strong"/></div><div class="service-item__cont"><h5 class="service-item__cont-title">
COST EFFICIENCY</h5><p>Reasonable trading fees for takers</p></br>and all market makers</p></div></div></div><div class="col-md-6 col-xl-4"><div class="service-item"><div class="service-item__icon"><img src="assets/images/1639476553add-bitcoins.png" alt="strong"/></div><div class="service-item__cont"><h5 class="service-item__cont-title">HIGH LIQUIDITY</h5><p>Fast access to high liquidity orderbook</p></br>for top currency pairs</p></div></div></div></div> </div></section><!-- Service --><!-- How It Works --><section class="how-it-works overflow-hidden bg--section pt-100 pb-50"> <div class="container"><div class="section-title text-center"><h6 class="subtitle text--base">Strategy</h6><h2 class="title">How it Works</h2>Accusantium porro nulla ullam vitae. Dolor in blanditiis aperiam officiis ratione. Veniam laudantium
						                cumque quasi, fuga magni esse.</div><div class="row flex-wrap-reverse"><div class="col-lg-6"><div class="how-it-wrapper"><div class="how-it-header bg--title"><h3 class="title text--white m-0">Create Account</h3><p>Veniam laudantium cumque quasi, fuga magni esse.</p></div><div class="how-it-body"><ul class="how-it-area"><li class="open active"><h6 class="subtitle">1. Register in Minutes</h6><div class="text">Amet eaque repellendus ut, cumque reprehenderit non natus necessitatibus velit
						                                        minima aliquam ducimus quaerat?</div></li><li class=""><h6 class="subtitle">2. Tell Us About Your Business</h6><div class="text">Amet eaque repellendus ut, cumque reprehenderit non natus necessitatibus velit
						                                        minima aliquam ducimus quaerat?</div></li><li class=""><h6 class="subtitle">3. Set Up A Transfer</h6><div class="text">Amet eaque repellendus ut, cumque reprehenderit non natus necessitatibus velit
						                                        minima aliquam ducimus quaerat?</div></li><li class=""><h6 class="subtitle">4. Pay For Your Transfer</h6><div class="text">Amet eaque repellendus ut, cumque reprehenderit non natus necessitatibus velit
						                                        minima aliquam ducimus quaerat?</div></li><li class=""><h6 class="subtitle">5. All Done</h6><div class="text">Amet eaque repellendus ut, cumque reprehenderit non natus necessitatibus velit
						                                        minima aliquam ducimus quaerat?</div></li></ul></div></div></div><div class="col-lg-6"><div class="how-it-img text-lg-end"><img src="assets/images/cjER6eH01645442056.png" alt="about"></div></div></div> </div></section><!-- How It Works --><!-- Plan --><section class="plan-section bg--section pt-50 pb-100"> <div class="container"><div class="section-title text-center"><h6 class="subtitle text--base">Pricing Plan</h6><h2 class="title">Simple Transparent Pricing</h2><p>Accusantium porro nulla ullam vitae. Dolor in blanditiis aperiam officiis ratione. Veniam laudantium
						                    cumque quasi, fuga magni esse.</p><div class="pricing-checkbox"><ul class="nav nav-tabs nav--tabs"><li><a href="#deposit" class="active" data-bs-toggle="tab" data-bs-="#deposit">Deposit</a></li><li><a href="#pension" data-bs-toggle="tab" data-bs-="#pension">Pension</a></li><li><a href="#loan" data-bs-toggle="tab" data-bs-="#loan">Loan</a></li></ul></div></div><div class="tab-content"><div class="tab-pane fade show active" id="deposit"><div class="row g-4 justify-content-center pricing--wrapper"><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Gold</h5></div><div class="right"><h5 class="title">10 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Per Installment</div><div class="info">
20000$</div></li><li><div class="name">
Total Deposit</div><div class="info">
720000$</div></li><li><div class="name">
After Matured</div><div class="info">
792000$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
36</div></li></ul><a href="user/login.html" class="cmn--btn bg--base w-100 text--white">Apply</a></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Bronze</h5></div><div class="right"><h5 class="title">9 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Per Installment</div><div class="info">
10000$</div></li><li><div class="name">
Total Deposit</div><div class="info">
360000$</div></li><li><div class="name">
After Matured</div><div class="info">
392400$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
36</div></li></ul><a href="user/login.html" class="cmn--btn bg--base w-100 text--white">Apply</a></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Premium</h5></div><div class="right"><h5 class="title">20 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Per Installment</div><div class="info">
80$</div></li><li><div class="name">
Total Deposit</div><div class="info">
1600$</div></li><li><div class="name">
After Matured</div><div class="info">
1920$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
20</div></li></ul><a href="user/login.html" class="cmn--btn bg--base w-100 text--white">Apply</a></div></div></div></div></div><div class="tab-pane fade show" id="pension"><div class="row g-4 justify-content-center pricing--wrapper"><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Gold</h5></div><div class="right"><h5 class="title">13 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
100000$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
2000000$</div></li><li><div class="name">
Interval Type</div><div class="info">
fixed</div></li><li><div class="name">
Locked In Period</div><div class="info">
365 Days</div></li></ul><button class="cmn--btn w-100 apply-pension" type="button" data-bs-toggle="modal" data-bs-target="#modal-pension" data-id="5" data-title="Gold">Apply Now</button></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Bronze</h5></div><div class="right"><h5 class="title">11 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
10000$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
1000000$</div></li><li><div class="name">
Interval Type</div><div class="info">
fixed</div></li><li><div class="name">
Locked In Period</div><div class="info">
365 Days</div></li></ul><button class="cmn--btn w-100 apply-pension" type="button" data-bs-toggle="modal" data-bs-target="#modal-pension" data-id="4" data-title="Bronze">Apply Now</button></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Premium</h5></div><div class="right"><h5 class="title">4 %</h5><span>Interest Rate</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
50$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
100$</div></li><li><div class="name">
Interval Type</div><div class="info">
fixed</div></li><li><div class="name">
Locked In Period</div><div class="info">
365 Days</div></li></ul><button class="cmn--btn w-100 apply-pension" type="button" data-bs-toggle="modal" data-bs-target="#modal-pension" data-id="3" data-title="Premium">Apply Now</button></div></div></div></div></div><div class="tab-pane fade show" id="loan"><div class="row g-4 justify-content-center pricing--wrapper"><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Student</h5></div><div class="right"><h5 class="title">3 %</h5><span>Per Installment</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
10000$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
100000$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
35</div></li></ul><button class="cmn--btn w-100 apply-loan" type="button" data-bs-toggle="modal" data-bs-target="#modal-apply" data-id="7" data-title="Student">Apply Now</button></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">House Repair</h5></div><div class="right"><h5 class="title">10 %</h5><span>Per Installment</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
3000$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
100000$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
15</div></li></ul><button class="cmn--btn w-100 apply-loan" type="button" data-bs-toggle="modal" data-bs-target="#modal-apply" data-id="6" data-title="House Repair">Apply Now</button></div></div></div><div class="col-lg-4 col-sm-10 col-md-6"><div class="plan__item"><div class="plan__item-header"><div class="left"><h5 class="title">Education</h5></div><div class="right"><h5 class="title">2 %</h5><span>Per Installment</span></div></div><div class="plan__item-body"><ul><li><div class="name">
Minimum Amount</div><div class="info">
5000$</div></li><li><div class="name">
Maximum Amount</div><div class="info">
50000$</div></li><li><div class="name">
Installment Interval</div><div class="info">
30 Days</div></li><li><div class="name">
Total Installment</div><div class="info">
55</div></li></ul><button class="cmn--btn w-100 apply-loan" type="button" data-bs-toggle="modal" data-bs-target="#modal-apply" data-id="5" data-title="Education">Apply Now</button></div></div></div></div></div></div> </div></section><!-- Plan --><!-- Apps --><section class="apps-section pt-100 pb-50"> <div class="container"><div class="row align-items-center justify-content-between flex-wrap-reverse gy-5"><div class="col-lg-4 col-md-5"><div class="app-img"><img src="assets/images/gFNRbRDL1645425298.png" alt="app"></div></div><div class="col-md-7"><div class="section-title"><h6 class="subtitle text--base">Apps</h6><h2 class="title">Your banking experience anytime, anywhere</h2>Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum
						                        reiciendis quia nesciunt fuga. Natus illum doloremque sed perferendis blanditiis maiores,
						                        voluptas ad quas beatae facilis totam officiis ratione, ab cumque libero. Ducimus molestias
						                        iusto facilis!
						
						                        Natus illum doloremque sed perferendis blanditiis maiores, voluptas ad quas beatae facilis totam
						                        officiis ratione, ab cumque libero. Ducimus molestias iusto facilis!</div><div class="app__btns"><a href="https://www.google.com/"><img src="assets/images/9HX3cjLu1645425298.png" alt="about"></a><a href="#"><img src="assets/images/zbT8VZef1645425298.png" alt="about"></a></div></div></div> </div></section><!-- Apps --><!-- Clients --><section class="clients-section pt-50 pb-50"> <div class="container"><div class="row"><div class="col-xl-4"><div class="section-title"><h6 class="subtitle text--base">Testimonials</h6><h2 class="title">What customers say about us</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						                            labore et dolore magna aliqua.</p><div class="owl-trigger"><div class="owl-prev"></div><div class="owl-next active"></div></div></div></div><div class="col-xl-8"><div class="clients-slider bg--title client-slider-bg owl-theme owl-carousel"><div class="clients-item h-100"><div class="clients-content"><blockquote>Quia asperiores quod deleniti. Enim deleniti officiis ipsa eligendi. Voluptatem
						                                    assumenda repellat architecto, aperiam fuga magni dolores at natus tempora? Harum,
						                                    delectus!</blockquote><h4 class="name text--base">Jazmin Sultana</h4></div><div class="clients-thumb"><div class="thumb"><img src="assets/images/AjOD94Yk1645070744.png" alt="clients"></div></div></div><div class="clients-item h-100"><div class="clients-content"><blockquote>Quia asperiores quod deleniti. Enim deleniti officiis ipsa eligendi. Voluptatem
						                                    assumenda repellat architecto, aperiam fuga magni dolores at natus tempora? Harum,
						                                    delectus!</blockquote><h4 class="name text--base">Jhon Smith</h4></div><div class="clients-thumb"><div class="thumb"><img src="assets/images/PME52yRz1645070778.png" alt="clients"></div></div></div></div></div></div> </div></section><!-- Clients --><!-- Counter --><section class="counter-section pb-100 pt-50"> <div class="container"><div class="row g-4"><div class="col-sm-6 col-lg-3"><div class="counter-item"><div class="counter-icon"><i class="fas fa-users"></i></div><div class="counter-content"><h3 class="counter-title"><span class="odometer count" data-odometer-final="890"></span><span class="count">M</span></h3><h6 class="counter-subtitle">Happy Clients</h6></div></div></div><div class="col-sm-6 col-lg-3"><div class="counter-item"><div class="counter-icon"><i class="fas fa-exchange-alt"></i></div><div class="counter-content"><h3 class="counter-title"><span class="odometer count" data-odometer-final="96"></span><span class="count">M</span></h3><h6 class="counter-subtitle">Total Transactions</h6></div></div></div><div class="col-sm-6 col-lg-3"><div class="counter-item"><div class="counter-icon"><i class="fas fa-money-check-alt"></i></div><div class="counter-content"><h3 class="counter-title"><span class="count">$</span><span class="odometer count" data-odometer-final="456"></span><span class="count">M</span></h3><h6 class="counter-subtitle">Total Withdraw</h6></div></div></div><div class="col-sm-6 col-lg-3"><div class="counter-item"><div class="counter-icon"><i class="fas fa-dollar-sign"></i></div><div class="counter-content"><h3 class="counter-title"><span class="count">$</span><span class="odometer count" data-odometer-final="890"></span><span class="count">M</span></h3><h6 class="counter-subtitle">Total Deposit</h6></div></div></div></div> </div></section><!-- Counter --><!-- CTAs --><section class="ctas-section bg--overlay bg_img bg_fixed" data-img="assets/images/uhzm3tT31645088780.jpg"> <div class="container"><div class="row align-items-center"><div class="col-md-6"><div class="cta-img"><img src="assets/images/4TsFX1TA1645088780.png" alt="about"></div></div><div class="col-md-6"><div class="ctas-content"><div class="section-title text-white"><h6 class="subtitle text--base">Quick Start</h6><h3 class="title">Need a Personalized Solution?</h3><p>Explicabo repellat minus eaque velit unde nulla nobis veritatis labore dolore,
						                                necessitatibus harum laborum at, aut reprehenderit!</p></div><div><a href="user/register.html" class="cmn--btn">Get Started Now</a></div></div></div></div> </div></section><!-- CTAs --><!-- Blogs --><section class="blogs-section pt-100 pb-50">1 <div class="container"><div class="section-title text-center"><h6 class="subtitle text--base">News & Tips</h6><h2 class="title">Frequently Asked Questions</h2><p>Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum
						                    reiciendis quia nesciunt fuga.</p></div><div class="row justify-content-center gy-4"><div class="col-lg-4 col-md-6 col-sm-10"><div class="blog__item"><div class="blog__item-img"><a href="blog/rune-exclusive-campaign-winner-announcement.html"><img src="assets/images/Zj7yqDTs1647929285.jpg" alt="blog"></a></div><div class="blog__item-content"><div class="d-flex flex-wrap justify-content-between meta-post"><span><i class="far fa-user"></i>Admin</span></div><h5 class="blog__item-content-title"><a href="blog/rune-exclusive-campaign-winner-announcement.html">RUNE Exclusive Campaign Winner Announcement</a></h5><a href="blog/rune-exclusive-campaign-winner-announcement.html" class="read-more">Read
						                                More</a></div></div></div><div class="col-lg-4 col-md-6 col-sm-10"><div class="blog__item"><div class="blog__item-img"><a href="blog/the-first-margin-trading-race-of-2022-has-landed.html"><img src="assets/images/GqosMNYi1647929302.jpg" alt="blog"></a></div><div class="blog__item-content"><div class="d-flex flex-wrap justify-content-between meta-post"><span><i class="far fa-user"></i>Admin</span></div><h5 class="blog__item-content-title"><a href="blog/the-first-margin-trading-race-of-2022-has-landed.html">The First Margin Trading Race of 2022 Has Landed!</a></h5><a href="blog/the-first-margin-trading-race-of-2022-has-landed.html" class="read-more">Read
						                                More</a></div></div></div><div class="col-lg-4 col-md-6 col-sm-10"><div class="blog__item"><div class="blog__item-img"><a href="blog/cryptocom-app-lists-idex-idex.html"><img src="assets/images/fCnPLDnc1647929316.jpg" alt="blog"></a></div><div class="blog__item-content"><div class="d-flex flex-wrap justify-content-between meta-post"><span><i class="far fa-user"></i>Admin</span></div><h5 class="blog__item-content-title"><a href="blog/cryptocom-app-lists-idex-idex.html">CRYPTO.COM APP LISTS IDEX (IDEX)</a></h5><a href="blog/cryptocom-app-lists-idex-idex.html" class="read-more">Read More</a></div></div></div></div> </div></section><!-- Blogs --><!-- Faqs --><section class="faqs-section pt-50 pb-100"> <div class="container"><div class="row justify-content-center"><div class="col-lg-8"><div class="section-title text-center"><h6 class="subtitle text--base">FAQs</h6><h2 class="title">Frequently Asked Questions</h2><p>Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum
						                            reiciendis quia nesciunt fuga.</p></div><div class="accordion-wrapper"><div class="accordion-item active open"><div class="accordion-title"><h6 class="title">Possimus expedita dolorum fugit mollitia, optio quo?</h6><span class="icon"></span></div><div class="accordion-content">Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita
						                                dolorum fugit mollitia, optio quo?
						
						                                Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?
						                                Dignissimos beatae officia repellat maiores!</div></div><div class="accordion-item "><div class="accordion-title"><h6 class="title">Sunt soluta laborum dolore voluptas natus?</h6><span class="icon"></span></div><div class="accordion-content">Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita
						                                dolorum fugit mollitia, optio quo?
						
						                                Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?
						                                Dignissimos beatae officia repellat maiores!</div></div><div class="accordion-item "><div class="accordion-title"><h6 class="title">Qui ducimus praesentium ullam voluptatem?</h6><span class="icon"></span></div><div class="accordion-content">Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita
						                                dolorum fugit mollitia, optio quo?
						
						                                Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?
						                                Dignissimos beatae officia repellat maiores!</div></div><div class="accordion-item "><div class="accordion-title"><h6 class="title">Man particular insensible celebrated</h6><span class="icon"></span></div><div class="accordion-content">Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita
						                                dolorum fugit mollitia, optio quo?
						
						                                Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?
						                                Dignissimos beatae officia repellat maiores!</div></div><div class="accordion-item "><div class="accordion-title"><h6 class="title">Right my front it wound cause fully</h6><span class="icon"></span></div><div class="accordion-content">Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita
						                                dolorum fugit mollitia, optio quo?
						
						                                Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?
						                                Dignissimos beatae officia repellat maiores!</div></div></div></div></div> </div></section><!-- Faqs -->{% endblock %}
