{% extends 'baseClient.html.twig' %}

{% block title %}New Investissement
{% endblock %}

{% block body %}
	<h1>Create new Investissement</h1>

	{{ include('investissement/_form.html.twig') }}

	<a href="{{ path('app_investissement_index_front') }}">back to list</a>
{% endblock %}
