
{% extends 'baseAdmin.html.twig' %}
{% block title %}CharityDemand index
{% endblock %}
{% block body %}
	<h1>Charity Demands</h1>

	<div class="search-form">
		{{ form_start(form) }}
		{{ form_row(form.statue) }}
		<button type="submit" class="btn btn-primary">Search</button>
		{{ form_end(form) }}
	</div>

	{% if charity_demands is not empty %}
		<table class="table">
			<thead>
				<tr>
					<th>Charity Name</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				{% for charity_demand in charity_demands %}
					<tr>
						<td>{{ charity_demand.statue }}</td>

						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No results found.</p>
	{% endif %}
{% endblock %}
 