{% extends 'baseClient.html.twig' %}

   {% block body %}

{# <div class="example-wrapper"> #}
   
<div class="page-wrapper">

            <div class="container-xl">

                <div class="page-header d-print-none">

                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
               <h1> Satatistiques </h1>
               
                </div>
            </div>
        </div>
    
{# </div> #}
{% endblock %}
