{% extends 'baseClient.html.twig' %}

{% block title %}New Embauche
{% endblock %}

{% block body %}
	<h1>Create new Embauche</h1>

	{{ include('embauche/_form.html.twig') }}

	<a href="{{ path('app_embauche_index_front') }}">back to list</a>
{% endblock %}
