{% extends 'baseAdmin.html.twig' %}

{% block body %}
         <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="card">
              <div
                class="d-sm-flex align-items-center justify-content-between py-3"
              >
                <h5 class="mb-0 text-gray-800 pl-3">Wire Transfer Bank</h5>
                <ol class="breadcrumb m-0 py-0">
                  <li class="breadcrumb-item">
                    <a
                      href="https://product.geniusocean.com/genius-bank/admin/dashboard"
                      >Dashboard</a
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a
                      href="https://product.geniusocean.com/genius-bank/admin/wire-transfer-banks"
                      >Wire Transfer Bank</a
                    >
                  </li>
                </ol>
              </div>
            </div>

           
            </div>



          </div>
          <!---Container Fluid-->

{% endblock %} 
